
body {
	margin:0px;
	padding:0px;
	font-family:verdana, arial, helvetica, sans-serif;
	color:#000;
#	background-color:#ffefbe;
	background-color:#ffb;
	}

h1 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:large;
	line-height:30px;
	font-weight:900;
	text-align:center;
	}

h2 { font-size: medium; font-weight: bold; }

h3 { font-size: small; font-weight: bold; }

h4 { font-size: smaller; font-weight: bold; }


SUP { font-size: x-small; }
CAPTION { font-size: medium; font-weight: bold; }
SMALL { font-size: x-small; }
TINY { font-size: xx-small; }

TD { text-align:right }
TD.L {text-align:left }
TD.C {text-align:center }

COLGROUP { text-align:right }
COLGROUP.L {text-align:left }
COLGROUP.C {text-align:center }


.C TABLE { margin: 0 auto }
.C CAPTION { margin: 0 auto }

.R { text-align:right }
.L {text-align:left }
.C {text-align:center }


p.navbar {
 margin-left: 5%;
 font-size: x-small;
 line-height: 110%;
 margin:7px 0px 7px 0px;
}

p.next {
 text-align: right;
}

#small {
 font-size: x-small;
}

#tiny {
 font-size: xx-small;
}

.boxed {
 border: thin solid black;
}

caption {padding-bottom: .5em; }

a {
	color:#09c;
	text-decoration:none;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;
	}
a:link {color:#09c;}
# a:link {color:#00a;}

a:visited {color:#07c;}
# a:visited {color:#00a0aa;}

a:hover {background-color:#eee;}

#header {
	margin:50px 50px 10px 50px;
	padding:17px 20px 17px 20px;
	border:solid black 2px;
	line-height:11px;
	background-color:#ebb530;
	}

#main {
	margin:0px 50px 50px 185px;
	padding:10px;
	}

#quote {
	margin-left:195px; margin-right:40%;
	border:solid black 1px;
	padding:5px;
	}
