TABLE.CALC {
	   border:solid black 2px;
	   background-color:#ebb530;
}

#navbar {
	position:absolute;
	top:250px;
	left:10px;
	width:172px;
	padding:10px;
	background-color:#ebb530;
	border:1px dashed black;
	line-height:17px;
	}








